<!DOCTYPE html>
<html lang="en">

<head>
  <title>Wishlist</title>
  <!-- meta -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- fonts and icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel=stylesheet>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- stylesheets -->
  <!-- Compiled and minified CSS for materialize-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/styles/styles.css">
  {{!-- <link rel="stylesheet" href="/styles/signup.css"> --}}
  {{!-- <link rel="stylesheet" href="/styles/login.css"> --}}
</head>

<body>

  <!-- navbar -->
  <nav class="black">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo red-text">wish<b>List</b></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign up!</a></li>
      </ul>
    </div>
  </nav>
  <!-- // navbar -->

  <!-- main content -->

  {{{body}}}

  <!-- // main content -->

  <!-- footer -->
  <footer class="page-footer black">
    <div class="container">
      <div class="row">
        <div class="col l4 s12">
          <h5 class="red-text">wish<b>List</b></h5>
        </div>
        <div class="col l6 offset-l2 s12">
          <div class="social-media-icons">
            <i class="fab fa-facebook-square medium"></i>
            <i class="fab fa-instagram medium"></i>
            <i class="fab fa-twitter medium"></i>
            <i class="fab fa-pinterest medium"></i>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- // footer -->

  <!-- scripts -->
  <script src="https://kit.fontawesome.com/fe613f4734.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- // scripts -->

</body>

</html>