<!DOCTYPE html>
<html lang="en">

<head>
  <title>Wishlist</title>
  <!-- meta -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- fonts and icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel=stylesheet>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- stylesheets -->
  <!-- Compiled and minified CSS for materialize-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/stores.css">
  {{!-- <link rel="stylesheet" href="/styles/signup.css"> --}}
  {{!-- <link rel="stylesheet" href="/styles/login.css"> --}}
</head>

<body>

  <!-- navbar -->
  {{{body}}}
  <!-- // footer -->
  {{!-- jquery --}}
   <script src="https://code.jquery.com/jquery.js"></script>
  <!-- scripts -->
  <script src="https://kit.fontawesome.com/fe613f4734.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- // scripts -->
  <script src="/js/stores.js"></script>
  <script src="/js/products.js"></script>
  <script src="/js/wishlist.js"></script>
  <script src="/js/auth.js"></script>

</body>

</html>