<main class="container">

  <div class="productImage">
    <img src="images/1.jpg">
  </div>
  {{!-- // row 1 --}}

  <div class="productImage">
    <img src="images/2.jpg">
  </div>
  {{!-- // row 2 --}}

  <div class="productImage">
    <img src="images/3.jpg">
  </div>
  {{!-- // row 3 --}}

  <div class="productImage">
    <img src="images/4.jpg">
  </div>

  <div class="productImage">
    <img src="images/5.jpeg">
  </div>

  <div class="productImage">
    <img src="images/6.jpg">
  </div>

  <div class="productImage">
    <img src="images/7.jpg">
  </div>

  <div class="productImage">
    <img src="images/8.jpeg">
  </div>

  <div class="productImage">
    <img src="images/9.jpg">
  </div>

  <a href="/stores">Go To Stores</a>

</main>