<div class="container">
    <div class="row">
        <div class="col">
            <section id="stores">

                <div class="card small">
                    <div class="card-image">
                        <img src="https://via.placeholder.com/150" alt="placeholder">
                        <span class="card-title">Banana Republic</span>
                        <a href="#" class="btn-floating halfway-fab waves-effect waves-light red"><i
                                class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                            because I require little markup to use effectively.</p>
                    </div>
                </div>

                <div class="card small">
                    <div class="card-image">
                        <img src="https://via.placeholder.com/150" alt="placeholder">
                        <span class="card-title">J.Crew</span>
                        <a href="#" class="btn-floating halfway-fab waves-effect waves-light red"><i
                                class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                            because I require little markup to use effectively.</p>
                    </div>
                </div>

                <div class="card small">
                    <div class="card-image">
                        <img src="https://via.placeholder.com/150" alt="placeholder">
                        <span class="card-title">COS</span>
                        <a href="#" class="btn-floating halfway-fab waves-effect waves-light red"><i
                                class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                            because I require little markup to use effectively.</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>