<main>

    <div class="project">
        <img src="images/placeholder.jpg">
    </div>

    <div class="project">
        <img src="images/placeholder.jpg">
    </div>

    <div class="project">
        <img src="images/placeholder.jpg">
    </div>

    <div class="project">
        <img src="images/placeholder.jpg">
    </div>

    <div class="project">
        <img src="images/placeholder.jpg">
    </div>

    <div class="project">
        <img src="images/placeholder.jpg">
    </div>

    <div class="project">
        <img src="images/placeholder.jpg">
    </div>

    <div class="project">
        <img src="images/placeholder.jpg">
    </div>

    <div class="project">
        <img src="images/placeholder.jpg">
    </div>
</main>