<main>

    {{!-- <div class="project">
        <img src="images/placeholder.jpg">
    </div>

    <div class="project">
        <img src="images/placeholder.jpg">
    </div>

    <div class="project">
        <img src="images/placeholder.jpg">
    </div>

    <div class="project">
        <img src="images/placeholder.jpg">
    </div>

    <div class="project">
        <img src="images/placeholder.jpg">
    </div>

    <div class="project">
        <img src="images/placeholder.jpg">
    </div>

    <div class="project">
        <img src="images/placeholder.jpg">
    </div>

    <div class="project">
        <img src="images/placeholder.jpg">
    </div>

    <div class="project">
        <img src="images/placeholder.jpg">
    </div> --}}

    <p>
            <strong>ID</strong>: {{product.id}}</p>
          <p>
          <p>
            <strong>Product Name</strong>: {{product.name}}</p>
          <p>
            <strong>Product Description:</strong> {{product.description}}</p>

</main>