{{!-- container for wishlist --}}
<main class="container">

   

     <div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Wish List Product</h5>
           <p>
            <strong>ID</strong>: {{product.id}}</p>
         
          <p>
            <strong>Product Name</strong>: {{product.name}}</p>
          <p>
            <strong>Product Description:</strong> {{product.description}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
    
    

</main>
